<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gesturelockview" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVGestureLockView</name>
    <js-module name="CDVGestureLockView" src="www/gesturelockview.js">
        <clobbers target="CDVGestureLockView" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <access origin='*' />
            <feature name="CDVGestureLockView">
                <param name="ios-package" value="CDVGestureLockView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVGestureLockView.h" />
        <source-file src="src/ios/CDVGestureLockView.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="TQGestureLockView" />
            </pods>
        </podspec>
    </platform>
</plugin>
